<h1 align="center">Opções</h1>
<p align="center"><td><%= link_to 'Tela Inicial', welcome_index_path %></td></p>
<p align="center"><%= link_to 'Novo Cliente', new_endereco_path %></p>
<p><h1 align="center">Lista de Clientes</h1></p>



<table align="center">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Cpf</th>
    <th>Endereco</th>
    <th>Telefone</th>

    <th colspan="2"></th>
  </tr>

  <% @cliente.each do |cliente| %>
    <tr>
      <td><%= cliente.id %></td>
      <td><%= cliente.nome %></td>
      <td><%= cliente.cpf %></td>
      <td><%= Endereco.find_by_id(cliente.endereco_id).to_s%></td>
      <td><%= cliente.telefone %></td>

      <td><%= link_to 'Exibir', cliente_path(cliente) %></td>
      <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
      <td><%= link_to 'Excluir', cliente_path(cliente),
                      method: :delete,
                      data: { confirm: 'Tem certeza?' } %></td>
    </tr>
  <% end %>
</table>