<p>
  <strong>Identificador:</strong>
  <%= @cliente.id %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Cpf: </strong>
  <%= @cliente.cpf %>
</p>

<p>
  <strong>Endereco: <%= Endereco.find_by_id(@cliente.endereco_id).to_s%></strong>
</p>

<p>
  <strong>Telefone: </strong>
  <%= @cliente.telefone %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %>