<p>
  <strong>Identificador:</strong>
  <%= @cliente.id %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Cpf: </strong>
  <%= @cliente.cpf %>
</p>

<p>
  <strong>Endereco: </strong>
  <% Endereco.all.each do |endereco|%>
    <% if endereco.id === cliente.endereco_id %>
    <p><%= endereco.to_s %></p>
  <% end %>
<% end %>
</p>

<p>
  <strong>Telefone: </strong>
  <%= @cliente.telefone %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %>