<p id="notice"><%= notice %></p>
<p align="center"><td><%= link_to 'Tela Inicial', welcome_index_path %></td></p>
<p align="center"><%= link_to 'Novo Produto Estoque', new_produto_estoque_path %></p>
<p><h1 align="center">Lista de Produto em Estoque</h1></p>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Preco compra</th>
      <th>Quantidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produto_estoques.each do |produto_estoque| %>
      <tr>
        <td><%= produto_estoque.descricao %></td>
        <td><%= produto_estoque.preco_compra %></td>
        <td><%= produto_estoque.quantidade %></td>
        <td><%= link_to 'Exibir', produto_estoque %></td>
        <td><%= link_to 'Editar', edit_produto_estoque_path(produto_estoque) %></td>
        <td><%= link_to 'Excluir', produto_estoque, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
