<%= form_with model: @produto, local: true do |form| %>

  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@produto.errors.count, "error") %> proibiram este produto ser salvo:
      </h2>
      <ul>
        <% @produto.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :Descricao %><br>
    <%= form.text_field :descricao %>
  </p>

  <p>
    <%= form.label :Preco %><br>
    <%= form.text_field :preco %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>