<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :produto_id %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :produto_descricao %>
  </div>

  <div class="field">
    <%= form.label :precoCompra %>
    <%= form.text_field :precoCompra, id: :produto_precoCompra %>
  </div>

  <div class="field">
    <%= form.label :precoVenda %>
    <%= form.text_field :precoVenda, id: :produto_precoVenda %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
