<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @produto.id %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Precocompra:</strong>
  <%= @produto.precoCompra %>
</p>

<p>
  <strong>Precovenda:</strong>
  <%= @produto.precoVenda %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
