<%= form_with(model: venda, local: true) do |form| %>
  <% if venda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venda.errors.count, "error") %> prohibited this venda from being saved:</h2>

      <ul>
      <% venda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :produto %>
    <%= form.text_field :produto, id: :venda_produto %>
  </div>

  <div class="field">
    <%= form.label :cliente %>
    <%= form.text_field :cliente, id: :venda_cliente %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.text_field :quantidade, id: :venda_quantidade %>
  </div>

  <div class="field">
    <%= form.label :valorTotal %>
    <%= form.text_field :valorTotal, id: :venda_valorTotal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
