<%= form_with model: @venda, local: true do |form| %>

  <% if @venda.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@venda.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @venda.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :Lista_de_Clientes %>
    <%= form.collection_select(:cliente_id, Cliente.all, :id, :nome, prompt: true)%>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
