<h1 align="center">Opções</h1>
<td><p align="center"><%= link_to 'Tela Inicial', welcome_index_path %></p></td>
<p align="center"><%= link_to 'Nova Venda', new_venda_path %></p>
<h1 align="center">Lista de Vendas</h1>


<p align="center"></p>

<table align="center">
  <tr align="center">
    <th>ID</th>
    <th>Produto</th>
    <th>Cliente</th>
    <th>Quantidade</th>
    <th>Total</th>
    <th colspan="2"></th>
  </tr>

  <% @venda.each do |venda| %>
    <tr>
      <td><%= venda.id %></td>
      <%Produto.all.each do |p| %>
        <% if p.id === venda.produto_id %>
          <td><%= p.descricao %></td>
        <%end%>
      <% end %>
      <%Cliente.all.each do |c| %>
        <% if c.id === venda.cliente_id %>
          <td><%= c.nome %></td>
        <%end%>
      <% end %>
      <td align="center"><%= venda.quantidade %></td>
      <td><%= "R$ "<<venda.total.to_s %></td>
      <td><%= link_to 'Exibir', venda_path(venda) %></td>
      <td><%= link_to 'Editar', edit_venda_path(venda) %></td>
      <td><%= link_to 'Excluir', venda_path(venda),
                      method: :delete,
                      data: { confirm: 'Tem certeza?' } %></td>
    </tr>
  <% end %>
</table>