<table>
  <tr>
    <th>ID</th>
    <th>Produto</th>
    <th>Cliente</th>
    <th>Quantidade</th>
    <th>Total</th>
    <th colspan="2"></th>
  </tr>
  <tr>
    <td><%= @venda.id %></td>
    <%p = Produto.find_by_id(@venda.produto_id)%>
    <td><%= p.descricao %></td>

    <%c = Cliente.find_by_id(@venda.cliente_id) %>
    <td><%= c.nome %></td>

    <td><%= @venda.quantidade %></td>
    <td><%= "R$ " <<@venda.total.to_s %></td>
  </tr>
</table>

<%= link_to 'Editar', edit_venda_path(@venda) %> |
<%= link_to 'Voltar', vendas_path %>